header {
  .header {
    text-align: center;
    .header-logo {
      a {
        font-size: 22px;
        font-weight: 800;
        color: var(--secondary, #fc4308);
        line-height: normal;
      }
    }
  }
}
